.card {
	background-color: #fff;
	width: calc(352px - 25px);
	height: calc(136px - 25px);
	border-radius: 5px;
	padding: 25px;
	margin: 10px;
	z-index: 20;
	
	@media (max-width: 1206px) {
		width: 70vw;
	}

	section {
		display: flex;
		justify-content: space-between;

		h2 {
			color: var(--finance-blue);
			font-size: 1.6rem;
			line-height: 2.4rem;
			font-weight: 400;
		}
	}

	h1 {
		color: var(--finance-darkblue);
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 500;
		margin: 0;
	}
}
.card:last-child {
	background-color: var(--finance-green);
	* {
		color: #fff;
	}
}
